@mixin base {
    background-color: cadetblue;
    border: black solid;
    height: 100%;
    width: 600px;
    input {
        outline: none;

        &[type="image"] {
            height: 20px;
            width: 20px;

            &:hover {
                height: 22px;
                width: 22px;
            }
        }
    }
}
.Login {
    @include base;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.WindowMessages {
    display: flex;
    flex: 1;
    background-color: darkseagreen;
    flex-direction: column;

    >div {
        &:nth-child(2n+1) {
            margin: 0px 10px 0px auto;
        }

        &:nth-child(2n) {
            margin: 0px auto 0px 10px;
        }
    }
}
.Status {
    background-color: inherit;
    border: none;
    color: yellow;
    font-weight: bold;
}
.Logout {
    @include base;
    align-items: center;
    text-align: center;
    display: inline-flex;
}
.BorderBottom{
    border-bottom:solid 1px;
    padding-bottom:10px;
    div{
        font-weight:bold
    }
}
.WindowMessages {
    padding-bottom: 10px;
}