@{
    ViewData["Title"] = "Тестовая страница";
}
@section style {
    <link href="~/component/buttons/gamburger.css" rel="stylesheet" />
}
@*<div id="testPage1"></div>
<div id="testPage2"></div>
<div id="testPage3"></div>
<div id="testPage4"></div>
<div id="testPage5"></div>
<div id="testPage6"></div>
@section scripts {
    <script src="~/bundle/js/test.js"></script>*@
}