<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="schedulingDatabase"
         connectionString="Server=VASYA\SQLEXPRESS;Database=scheduling;Trusted_Connection=True;" />
  </connectionStrings>
  <!--<aa>Scaffold-DbContext "Server=VASYA\SQLEXPRESS;Database=scheduling;Trusted_Connection=True;" Microsoft.EntityFrameworkCore.SqlServer</aa>-->
</configuration>