nav {
    box-shadow: inset 5px 5px 15px 18px;
}
nav > ul {
    flex-wrap: wrap
}

ul.dropdown-menu {
    border: 1px solid
}
nav > ul > li:hover {
    border: 1px solid silver
}
.linkOn {
    border: 1px solid silver !important
}

nav > ul > li > a:focus {
    border: red;
}

ul.dropdown-menu > li > a:hover {
    background-color: lightgray !important
}
